 /* davaleba1 */
 .kubi2{
    width: 380px;
    border: solid 2px black;
    margin: auto;
}
.kubi{
    width: 900px;
    border: solid 2px black;
    margin: auto;
    height: 550px;
}
td{
    border: solid 2px black;
    width: 40px;
    height: 40px;
}

/* davaleba2 */
.kubebi{
    width: 700px;
    height: 350px;
    border: solid 2px black;
    background-color: rgb(233, 233, 233);
    margin: auto;
    position: relative;
}

.witeli{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: red;
    z-index: 1;
}
.mwvane{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 80px;
    left: 80px;
    background-color: green;
    z-index: 2;
}
.lurji{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 120px;
    left: 120px;
    background-color: blue;
    z-index: 3;
}
.yviteli{
    width: 85px;
    height: 85px;
    position: absolute;
    top: 160px;
    left: 160px;
    background-color: yellow;
    z-index: 4;
}
/*davaleba 3*/
  
.kubi3{
    border: solid 2px black;
    margin: auto;
    width: 1050px;
    height: 500px;
    background-color: silver;
    position: relative;
}


.gare1{
    width: 200px;
    height: 200px;
    
}

.gare2{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
}

.gare3{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.gare4{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.shida1{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    left: 240px;
}

.shida2{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    left: 280px;
}
.shida3{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    left: 320px;
}
.shida4{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 160px;
    left: 360px;
}

.shida5{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 40px;
    right: 240px;
    z-index: 1;
}

.shida6{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 80px;
    right: 280px;
    z-index: 2;
}
.shida7{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 120px;
    right: 320px;
    z-index: 3;
}
.shida8{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 160px;
    right: 360px;
    z-index: 4;
}
/*davaleba 4*/
.header{
    background-color: green;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.content{
    position: relative;
    height: 400px;
}
.footer{
    background-color: green;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 5px;
    color: honeydew;
}
.box2{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 90px;
    left: 20px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 5px;
    color: honeydew;
}
.box3{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 160px;
    left: 20px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 5px;
    color: honeydew;
}
.box4{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 230px;
    left: 20px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 5px;
    color: honeydew;
}
.box5{
    width: 180px;
    height: 50px;
    position: absolute;
    top: 300px;
    left: 20px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    padding: 5px;
    color: honeydew;
}
.main{
    height: 350px;
    width: 1090px;
    position: absolute;
    top: 20px;
    left: 240px;
}
/*davaleba5*/
table {
    border-collapse: collapse;
    width: 1000px;
}


table th, td{
    
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    background-color: white;

}

.head{
    margin: auto;
    width: 990px;
    height: 50px;
    padding: 5px;
    border: solid 1px black;
    background-color: rgb(169, 226, 248);
}

img{
    width: 160px;
}